@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Audiowide";
    src: resource("Fonts/Audiowide-Regular");
  }
  @font-face {
    font-family: "Exo";
    src: resource("Fonts/Exo2-Regular");
  }
  @font-face {
    font-family: "Orbitron";
    src: resource("Fonts/Orbitron-Regular");
  }
  :root {
    --primary: #E05600;
    --secondary: #C2B51F;
    --red: #f70d0d;
    --dark-red: #3b02029d;
    --green: #33B80B;
    --dark-green: #092401b7;
    --tertiary: #31200D;
    --font-audiowide: "Audiowide";
    --font-exo: "Exo";
    --font-orbitron: "Orbitron";
    --trans-val-x: 0;
    --trans-val-y: 0;
    --m-duration: .3s;
    --m-timing-function: linear;
    --m-delay: 0s;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
